@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* 
body {
    zoom: 90%;
} */

.v-main__wrap {
    background: #84c1fe0f;
}

header {
    background: #FFFFFF !important;
    box-shadow: none !important;
}

.v-navigation-drawer__border {
    display: none;
}

.link.v-item--active {
    border-radius: 16px;
    background: var(--primary-900, #5D5FEF);
    background: linear-gradient(93.96deg, #5D5FEF 6.46%, #0dcaf0 98.85%) !important;
    box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.10);
    color: white !important;
    margin: 7px 0;
}

.link {
    border-radius: 16px;
    overflow: hidden;
    color: var(--greys-blue-grey-700, #737791);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 7px 0;
}

.v-btn--is-elevated.v-btn--fab {
    box-shadow: none;
}

.v-application a {
    color: white !important
}

.v-menu__content.theme--light.rounded.v-menu__content--fixed.menuable__content__active {
    border-radius: 15px !important;
    border: 1px solid #F8F9FA;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.50);
}

.notification {
    border-radius: 8px !important;
    background: var(--supporting-color-yellow-shade, #FFFAF1);
    border: none !important;
}

.accountIcon {
    border-radius: 8px !important;
    background: var(--primary-900, #5D5FEF) !important;
    box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.10) !important;
    color: white !important;
}

.app-bar-title.hello {
    font-weight: 500;
    font-size: 18px;
}

nav.v-navigation-drawer {
    max-height: 100% !important;
    top: 0 !important;
    padding: 0 17px;
    /* border-right: 1px solid rgb(240, 240, 240); */
}

.v-navigation-drawer__content::-webkit-scrollbar {
    display: none
}

.search .v-input__slot {
    border-radius: 16px !important;
    background: #f8f8f8 !important;
    box-shadow: none !important;
}

i.v-icon.notranslate.mdi.mdi-magnify.theme--light {
    color: #5D5FEF;
}

span.mdi.mdi-volume-high.mx-1 {
    color: #7074f1;
}

i.v-icon.notranslate.mdi.mdi-hand-clap.theme--light {
    color: #FF947A;
}

.v-list-item__title {
    font-size: 15px !important;
}

.transcriptionBox {
    border-radius: 16px !important;
    border: 1px solid #F8F9FA;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgb(219 225 250 / 57%) !important;
}

.align-items-center {
    align-items: center;
}

.chunkText {
    color: gray;
}

span.v-chip__content {
    font-size: 12px;
}

.theme--light.v-divider {
    border-color: rgb(0 0 0 / 5%) !important;
}

.v-card__subtitle {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.v-card__title {
    font-size: 18px !important;
}

audio {
    width: 100%;
    background: #f1f3f4;
    border-radius: 20px 20px 0 0;
    border-radius: 20px;
    margin-bottom: -7px;
}

.theme--light.v-chip:not(.v-chip--active) {
    color: white;
}

span.v-chip--select.v-chip.v-chip--clickable.v-chip--no-color.v-chip--removable.theme--light.v-size--default {
    background: #509ef1 !important;
}

.keyword {
    background: #6088f1 !important;
}

.people {
    background: transparent !important;
    color: black !important;
}

.channelsBox {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    box-shadow: none !important;
}

.channelsBox::-webkit-scrollbar {
    display: none;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
    border-radius: 0;
    border-top: 1px solid #fbfaff;
    box-shadow: none !important;
}

.btn-style {
    margin: 0px 10px;
    background: linear-gradient(93.96deg, #5D5FEF 6.46%, #0dcaf0 98.85%) !important;
    color: white !important;
}

.btn-style-2 {
    background-color: rgb(78 161 242) !important;
    color: white !important;
}

.btn-style.active {
    background: #606cb296 !important;
}

.content-container.box {
    margin: 25px 0;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.50) !important;
    text-align: left;
}

.transcriptionBox {
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.50) !important;
    border-radius: 11px;
    background: #fff !important;
}

.v-alert {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    z-index: 99999999999;
}

.btnMain {
    margin: 10px 0;
}

.items {
    background: linear-gradient(93.96deg, #5d5fef14 6.46%, #0dcaf00f 98.85%) !important;
    border: none !important;
}

.recordingColor {
    background: linear-gradient(93.96deg, #dc3545 6.46%, #b74949 98.85%) !important;
    color: white !important;
}

.v-list-item__content {
    text-align: left !important;
}

.theme--light.v-label {
    color: rgb(121 121 121 / 60%) !important;
}

.v-btn.v-btn--has-bg {
    background-color: #5d5fef !important;
    color: white !important;
    text-transform: inherit;
    font-weight: 500;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #737791 !important;
}

a.link.recordingColor.v-list-item.v-list-item--link.theme--light {
    color: white !important;
}

.v-card__title {
    color: #05004E;
}

span.v-chip--select.v-chip.v-chip--clickable.v-chip--no-color.theme--light.v-size--small {
    background: #38bff2;
}

.v-btn--is-elevated {
    box-shadow: none !important;
}

.v-text-field.v-text-field--solo .v-input__control {
    min-height: 43px !important;
}

.v-list-item__icon .theme--light.v-icon {
    color: #737791 !important;
}

.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
    color: white !important;
}

.upload-btn {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    box-shadow: 0 3px 15px 2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}

/* 
.transcriptionBox:hover {
    background: #ecedff !important;
    transition: 0.2s;
}

.transcriptionBox {
    transition: 0.2s;
} */

button.btn-style.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--rounded.theme--light.v-size--default.active {
    background: #5d5fef75 !important;
}

@media only screen and (max-width: 490px) {
    .v-toolbar__title.app-bar-title.hello {
        display: none;
    }

    .none {
        display: none
    }

    .wrap-reverse-mobile {
        flex-flow: wrap-reverse;
    }
}

@media only screen and (min-width: 490px) {

    .desktop-version {
        display: none
    }
}

.audioIcon {
    background: #de4646;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 25px auto;
}

span.mdi.mdi-microphone {
    font-size: 70px;
}

.rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }

    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }

    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}

.playRecording {
    background: #de4646;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin: 20px;
}

.downloadAudio {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(93.96deg, #5d92ef 6.46%, #0df090 98.85%) !important;
}

.v-list-item__action,
.v-list-item__avatar,
.v-list-item__icon {
    min-width: 15px !important;
}

p.text-right.mr-4.mt-2.mb-0 {
    margin-bottom: 5px !important;
}

.statusIcon {
    background: #4cb54f;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    width: 124px;
}

.titleBrief {
    width: 450px;
    min-width: 289px;
}

.titleBrief strong {
    color: #737791 !important;
    font-weight: 500;
}

th,
td {
    color: #737791 !important;
}

.date {
    white-space: nowrap;
}

.statusTranscription {
    border-radius: 12px !important;
    border: 1px solid #5d5fef1b;
}

.theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
    background: rgb(0 22 255 / 6%) !important;
}

.in-progress-bcg {
    background: #eaedff !important;
    padding: 10px 10px 0 10px !important;
}

.in-progress-icon {
    background: #f0913c;
}